# Server
NODE_ENV=development
PORT=4000
CORS_ORIGIN=*

# Mongo / Redis
MONGO_URI=mongodb+srv://moiz031188_db_user:dSeNb3vGv5jUr8hR@cluster0.wg1bkyb.mongodb.net/?appName=Cluster0
# JWT
JWT_ACCESS_SECRET=change-me-access-secret
JWT_REFRESH_SECRET=change-me-refresh-secret
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=30d

# Uploads
UPLOAD_DIR=./uploads
MAX_UPLOAD_MB=10

# Optional integrations (leave blank to use stubs)
OCR_PROVIDER_KEY=
AI_CATEGORIZATION_KEY=
FCM_SERVER_KEY=
FX_API_KEY=

# OneSignal push notifications (leave blank to disable push — sockets still work)
ONESIGNAL_APP_ID=f46f123a-8bb2-4871-909c-3549ad4f028d
ONESIGNAL_REST_API_KEY=os_v2_app_6rxreoulwjehdee4gve22tycrwb7ygn3c7eeygvjd5fpaz74f4452t7lkrrlfg4wbaba4zlnksu3djypflatm7oxfegwiy3ulxm47oq


XrEvyFNb2MKoluXn